.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 auto;
    width: 47%;
    margin: 0.75%;
    padding: 0.75%;
}

.col4 {
    flex: 0 0 auto;
    width: 22%;
    margin: 0.75%;
    padding: 0.75%;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 1rem solid transparent;
}